<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要讀取相簿以瀏覽錄影檔</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要使用相簿來儲存與刪除錄影檔</string>
</dict>
</plist>
